body {
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #282829;
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica";
	background-image: url(../img/fondo.jpg);
	background-size: 100% 100%;
}

.clock { 
    height: 80vh;
    width: 80vh;
	padding: 2rem;
}

.clock__circle-big {
	/* rellena todo el círculo */
	fill: #ecf0f1; 	
	/* color del borde del círculo */
	stroke: #1e1f1dde;
	/* ancho del borde del círculo	 */
	stroke-width: 10;
}

.clock__circle-small { 
	fill: #282829;
}

.clock__numbers {
	stroke: #282829;
	font-size: 10px;
}

.clock__lines .clock__lines--thick {
	stroke: #282829;
	stroke-width: 2.5;
}

.clock__lines .clock__lines--thin {
	stroke: #282829;
	stroke-width: 1;
}

.clock__pointers {
	/* redondea los extremos de la recta */
	stroke-linecap: round;
	stroke: #282829;
	stroke-width: 1;
}

.clock__pointers--hh {
	stroke-width: 4;
}

.clock__pointers--mm {
	stroke-width: 2.5;
}

.clock__pointers--ss {
    stroke: #b11905;
}

.clock__about {
	fill: #0916d1;
	font-size: 6px;
	font-weight: bold;
	cursor: pointer;
}